/.idea
/.kotlin
/*/build/
/build
/.gradle-local
/captures
/local.properties
.gradle
*.iml
.DS_Store
.externalNativeBuild
/scripts/
GoogleService-Info.plist
/mocks/.build/
/mocks/.runtime/
/mocks/.runtime-check/
/iosApp/.build/
